{{#each entries as |entry|}}
  {{log entry}}

  <h4 data-id="{{entry.id}}" class="my-entry">Entry Number: {{entry.id}}</h4>
<h4 data-id="{{entry.id}}" class="my-entry">Thought: {{entry.thought}}</h4>
  <h4 data-id="{{entry.id}}" class="my-entry">Cognitive Distortion: {{entry.distortion}}</h4>
    <h4 data-id="{{entry.id}}" class="my-entry">Rational Response: {{entry.response}}</h4>

<hr/>

      {{/each}}
